.myHeader {
    background-color: lightblue;
    /*color: black;*/
    padding: 40px;
    text-align: center;
}

.navZone {
    background-color: aquamarine;
    color: black;
    padding: 5px;
}

.sub {
    color: black;
    text-align: center;
}

.importInfo {
    background-color: forestgreen;
}

.table_show_box {
    border: aqua solid 1px;
    background-color: azure;
    width: 100%;
}

.notFound {
    background-color: crimson;
    color: black;
    padding: 40px;
    text-align: center;
    align-self: center;
}
.buttonSharp {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    background-color: bisque;
    text-align: center;
    border-radius: 1px;
}

.text_show_box {
    display: inline-block;
    border: aqua solid 1px;
    background-color: azure;
    width: fit-content;
    height: auto;
}

.table_bk {
    align-items: center;
    width: 800px;
    height: auto;
}